nav {
  display: var(--flex);
  position: var(--fixed);
  flex-flow: var(--nowrap) var(--row);
  background-color: transparent;
  width: 100%;
  height: 75px;
}

.nav-logo {
  width: 30%;
  height: 100%;
  display: var(--flex);
  align-items: var(--center);
  justify-content: var(--center);
}

.nav-logo-nome {
  font-size: 26px;
  color: var(--branco);
  transition: 0.5s;
}

.nav-logo-nome:hover {
  color: var(--cor-primaria);
}

.nav-menu {
  width: 70%;
  display: var(--flex);
  align-items: var(--center);
  flex-direction: var(--row-reverse);
}

.nav-menu-links {
  margin-right: 10%;
}

.nav-menu-links a {
  padding: 7px;
  transition: 0.2s;
  color: var(--branco);
}

.nav-menu-links a:hover {
  color: var(--cor-primaria);
}
